
/*Style to change header*/
#color4nav {background-color: #4aaaa5 !important;
			color: #777777 !important;}

#tannerHeaderMargin {
					color: white !important;
					width: 200px !important;
					font-size: 28px;
					background-color: #4aaaa5 !important;
					}
#directoryHeaders {color: white !important;}

/*Style for background*/

body {background-image: url("../images/RnM-background.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	}

/*Footer*/

#footer1 {	
			width: 100%;
			position: fixed;
			bottom: 0;
			height: 70px;
			padding-top: 40px;
			background-attachment: scroll;
			background-color: #666666;
			border-top: 8px solid #4aaaa5;
			padding-top:10px;
			text-align: center;
			font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
			font-size: 10px;
			color: white !important;
			z-index: 5;}

/*Rick and Morty Fonts*/
@font-face {
    font-family: RickAndMorty1;
    src: url(rick_morty.ttf);
}

@font-face {
    font-family: RickAndMorty2;
    src: url(get_schwifty.ttf);
}