
/*Style to change header*/
#color4nav {background-color: #4aaaa5 !important;
			color: #777777 !important;}

#tannerHeaderMargin {
					color: white !important;
					width: 200px !important;
					font-size: 28px;
					background-color: #4aaaa5 !important;
					}
#directoryHeaders {color: white !important;}

/*Style for background*/

body {background-image: url("../images/RnM-background.jpg");
	background-size: contain;
	height: 100%;
	width: 100%;
	}

/*Rick and Morty Fonts*/
@font-face {
    font-family: RickAndMorty1;
    src: url(rick_morty.ttf);
}

@font-face {
    font-family: RickAndMorty2;
    src: url(get_schwifty.ttf);
}